.btn-color{
    background-color: #164e85 ;
    border-color: #164e85 ;
    color: #fff;
  }
.btn-color:hover{
    background-color: #124374 ;
    border-color: #124374 ;
}

.colortexto {
    color: #124374;

}

.pad-bottom {
    border-radius: 0 !important;
}

input {
    font-size: 15px;
}

.desaprobado {
    color: red !important;
}