.card-header {
    background-color: #164e85;
}

.btn-color{
    background-color: #164e85 ;
    border-color: #164e85 ;
    color: #fff;
  }
.btn-color:hover{
    background-color: #124374 ;
    border-color: #124374 ;
}