<div class="card mt-2">
    <div class="card-body">
      <div class="col-md-12 mx-0">
        <h5>Cursos registrados</h5>
        <button type="button" class="btn btn-sm btn-color" data-bs-toggle="modal"
        data-bs-target="#crearCursoModal">Nuevo curso</button>
        <hr>
        <div class="col-md-12">
          <div class="alert alert-info mb-0" role="alert" *ngIf="cursos.length == 0">
            No hay CURSOS registrados. Registre CURSOS.
          </div>
          <div class="row row-cols-1 row-cols-md-4" *ngIf="cursos.length > 0">
            <div class="col" *ngFor="let curso of cursos" >
              <div class="card mb-2">
              <div class="card-header text-white d-flex justify-content-between align-items-center">
                {{curso.nombre}}<span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" title="{{curso.clases?.length}} clases relacionadas">{{curso.clases?.length}}</span>
              </div>
              <ul class="list-group list-group-flush">
                <div class="row p-3">
                  <ul class="list-group px-2">
                    <a data-bs-toggle="modal" data-bs-target="#crearCursoModal" (click)="cargarCurso(curso)" style="text-decoration: none; color: inherit; cursor: pointer;">
                    <li class="list-group-item list-group-item-info text-center">Editar</li>
                  </a>
                  <a (click)="eliminarCurso(curso)" style="text-decoration: none; color: inherit;  cursor: pointer;">
                    <li class="list-group-item list-group-item-danger text-center">Eliminar</li>
                  </a>
                  </ul>
                </div>
              </ul>
            
          </div>
        </div>
        </div>
          </div>
      </div>
    </div>

    

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-running-dots"><p style="color: white" > Cargando... </p></ngx-spinner>
    </div>

    <!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="crearCursoModal" tabindex="-1" aria-labelledby="crearCursoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crearCursoModalLabel">Nuevo curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal(cursoForm)"></button>
        </div>
        <div class="modal-body">
          <form #cursoForm="ngForm">
            <div class="row mb-2">
              <div class="col-12" *ngIf="!curso.id && !cursoActualizar.id">
                <label for="nombreCurso" class="ms-1">Nombre</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" [(ngModel)]="curso.nombre" name="nombreCurso" />
                </div>
              </div>
              <div class="col-12" *ngIf="!curso.id && cursoActualizar.id">
                <label for="nombreCursoActualizar" class="ms-1">Nombre</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" [(ngModel)]="cursoActualizar.nombre" name="nombreCursoActualizar" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarModal(cursoForm)">
            Cerrar
          </button>
          <button type="button" class="btn btn-color" (click)="crearCurso(cursoForm)" *ngIf="!curso.id && !cursoActualizar.id">
            Crear curso
          </button>
          <button type="button" class="btn btn-color" data-bs-dismiss="modal" (click)="actualizarCurso(cursoForm)" *ngIf="!curso.id && cursoActualizar.id">
            Actualizar
          </button>
        </div>
      </div>
      
    </div>
  </div>